# Silly Macs
.DS_Store

# Swap Files
*.swp

# Compile bin Dir
/bin/*

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libs
*.so

# Compiled Static Libs
*.a
*.lai
*.la
*.tlog
*.idb
*.pdb
*.obj
*.ilk
*.pch

# Xcode Stuff
*.xcodeproj
*.build

# Visual Studio Stuff
*.opensdf
*.opendb
*.db
*.sdf
*.suo
*.user
*.userosscache
*.sln.docstates
*.iobj
*.ipdb
ipch/
*.enc
*.stackdump
*.vcxprojResolveAssemblyReference.cache
/vs2015/*/*.lib
/vs2015/*/x86/*
/vs2015/*/x64/*
/vs2015/prebuiltDX11Maker/*

# Visual Studio Profiler Files
*.vspx
*.psess

# Random
*.log

# CMake Stuff
CMakeFiles/
/CMakeScripts/
CMakeCache.txt
/dg.build/
/dg.xcodeproj/
Makefile
cmake_install.cmake

