[submodule "external/freetype2"]
	path = external/freetype2
	url = git://git.sv.nongnu.org/freetype/freetype2.git
[submodule "external/libnoise"]
	path = external/libnoise
	url = https://github.com/qknight/libnoise
[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp.git	
[submodule "external/SDL-mirror"]
	path = external/SDL-mirror
	url = https://github.com/spurious/SDL-mirror
[submodule "external/include/enum-flags"]
	path = external/include/enum-flags
	url=https://bitbucket.org/dirtystudios/enum-flags.git
