# Silly Macs
.DS_Store

# Swap Files
*.swp

# Compile bin Dir
/bin/planet.ini
/bin/Debug/planet.ini
/bin/*.exe
/bin/*.dll

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libs
*.so

# Compiled Static Libs
*.a
*.lai
*.la
*.tlog
*.idb
*.pdb
*.obj
*.ilk
*.pch

# Xcode Stuff
*.xcodeproj
*.build

# Visual Studio Stuff
*.opensdf
*.sdf
*.suo
*.user
*.userosscache
*.sln.docstates
ipch/
*.enc
*.stackdump
*.vcxprojResolveAssemblyReference.cache

# Visual Studio Profiler Files
*.vspx
*.psess

# Random
*.log

# CMake Stuff
CMakeFiles/
/CMakeScripts/
CMakeCache.txt
/dg.build/
/dg.xcodeproj/
Makefile
cmake_install.cmake

