[submodule "external/vcpkg"]
	path = external/vcpkg
	url = git@github.com:microsoft/vcpkg.git
[submodule "external/include/enum-flags"]
	path = external/include/enum-flags
	url = git@github.com:dirtystudios/enum-flags.git
