[submodule "external/freetype2"]
	path = external/freetype2
	url = git://git.sv.nongnu.org/freetype/freetype2.git
[submodule "external/libnoise"]
	path = external/libnoise
	url = https://github.com/qknight/libnoise
[submodule "external/xxhash"]
	path = external/xxhash
	url = https://github.com/Cyan4973/xxHash
[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp.git
	