assets/sponza/** filter=lfs diff=lfs merge=lfs -text
assets/arthas/** filter=lfs diff=lfs merge=lfs -text
assets/roxasps3/** filter=lfs diff=lfs merge=lfs -text
assets/skyboxcape/** filter=lfs diff=lfs merge=lfs -text
